{% extends "Layout.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="padding-top: 60px;flex-flow: column;">
    <a href="/create_task" class="btn btn-primary" style="margin-bottom: 20px;">Create task</a>
    <div class="card" style="width: 54rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}